@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #9d97976e;
    
}


.main{
    /* height: 800px; */
    width: 60%;
    margin-left: 20%;
    background-color: white;
    margin-top: 100px;
}

.main-name{
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
}
.header{
    display: inline-block;
    margin-left: 80%;
    font-size: 14px;
    /* font-weight: 300; */
}



.text{
    width: 25%;
    /* background-color:yellow; */
    /* height: 650px; */
    margin-left: 15%;
    margin-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    
}

.text-header{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    /* background-color: blue; */
    padding-bottom: 10px;
}

.padd{
    padding-top: 5px;
    word-spacing: 5px;
    font-size: 16px;
    /* background-color: blueviolet; */

}

.update{
    padding-top: 20px;
    /* padding-bottom: 20px; */
    /* background-color: green; */
}

.update-text{
    font-size: 10px;
}

.line{
    margin-top: 35px;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-right:80px;
    
}

.btn{
    margin-top: 5px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

.icon{
    margin-top: 30px;
}

.img{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}


.main-image{
    width: 45%;
    height: 500px;
    /* background-color: hotpink; */
    display: inline-block;
    margin-left: 10%;
    margin-top: 50px;
}
.main-img{
    height: 100%;
    margin-bottom: -60px;
    width: 100%;
}